<html ng-app="cryptKeeper" lang="en" class="csstransforms csstransforms3d csstransitions js cssanimations csstransitions"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
	<title>CryptKeeper</title>
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js" type="text/javascript"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
	<script src="https://code.angularjs.org/1.4.0-beta.1/angular-sanitize.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="controllers.js"></script>
</head>

<body ng-controller="cryptCtrl">
	<nav class="navbar navbar-default">

	      <!-- Sign in and sign out buttons -->
	      <span data-toggle="tooltip" data-placement="right" title="Sign In to save favorite lines">
	      	<button type="button" class="btn btn-default navbar-btn" ng-class="{'hide': cryptData}" data-toggle="modal" data-target="#signInModal">
  				Sign In
		 	</button>
		  </span>

	      <button type="button" class="btn btn-default navbar-btn" ng-class="{'hide': !cryptData}" ng-click="signOut()" >
  			Sign Out
		 </button>	 

		 <!-- Log in text for when user is logged in -->
		 <p ng-class="{'hide': !user}" class="navbar-text pull-right">Logged In as {{user.username}}</p>		 
	  </div><!-- /.container-fluid -->
	</nav>	


	<!-- Main View -->
	<div class="col-md-10" ng-hide='hideForm'>
	    <form ng-submit="newInvestmentData()">
		  <div class="form-group">
		    <label for="invested">Money Invested</label>
		    <input type="string" class="form-control" id="invested" ng-model="invested" placeholder="invested" ng-required="true">
		  </div>
		  <div class="form-group">
		    <label for="btc"># of Bitcoin</label>
		    <input type="string" class="form-control" id="btc" ng-model="btc" placeholder="BTC" ng-required="true">
		  </div>
		  <div class="form-group">
		    <label for="ltc"># of Litecoin</label>
		    <input type="string" class="form-control" id="ltc" ng-model="ltc" placeholder="LTC" ng-required="true">
		  </div>
		  <div class="form-group">
		    <label for="eth"># of Ether</label>
		    <input type="string" class="form-control" id="eth" ng-model="eth" placeholder="ETH" ng-required="true">
		  </div>
		  <div class="form-group">
		    <label for="xrp"># of Ripple</label>
		    <input type="string" class="form-control" id="xrp" ng-model="xrp" placeholder="XRP" ng-required="true">
		  </div>
		  <div class="form-group">
		    <label for="bch"># of BCC</label>
		    <input type="string" class="form-control" id="bcc" ng-model="bcc" placeholder="bch" ng-required="true">
		  </div>		  
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>		
		<!-- Lines Table -->
<!--  --> 
	</div>
	<div ng-hide='!hideForm'>
		<table class="table table-hover">
		  <tr>
		    <td> Invested </td> <td> {{ cryptData.invested_now | currency}} </td>
		  </tr>		  
		  <tr>
		    <td> Profit </td> <td> {{ cryptData.profit | currency}} </td>
		  </tr>
		  <tr>
		    <td> Total </td> <td> {{ cryptData.total | currency}} </td>
		  </tr>
		</table>

		<table class="table table-hover">
	      <thead>
	        <tr>
	          <th>Currency</th>
	          <th>Amount</th>
	          <th>Price</th>
	          <th>Total</th>
	        </tr>
	      </thead>			
		  <tr>
		    <td> BTC </td> 
		    <td>{{cryptData.details.btc.amount}}</td>
		    <td>{{cryptData.details.btc.price | currency}}</td>
		    <td>{{cryptData.details.btc.value | currency}}</td>
		  </tr>	
		  <tr>
		    <td> LTC </td> 
		    <td>{{cryptData.details.ltc.amount}}</td>
		    <td>{{cryptData.details.ltc.price | currency}}</td>
		    <td>{{cryptData.details.ltc.value | currency}}</td>		    
		  </tr>			  
		  <tr>
		    <td>ETH</td> 
		    <td>{{cryptData.details.eth.amount}}</td>
		    <td>{{cryptData.details.eth.price | currency}}</td>
		    <td>{{cryptData.details.eth.value | currency}}</td>
		  </tr>		  		  
		  <tr>
		    <td>Ripple</td> 
		    <td>{{cryptData.details.xrp.amount}}</td>
		    <td>{{cryptData.details.xrp.price | currency}}</td>
		    <td>{{cryptData.details.xrp.value | currency}}</td>
		  </tr>		  
		  <tr>
		    <td>BCC</td> 
		    <td>{{cryptData.details.bcc.amount}}</td>
		    <td>{{cryptData.details.bcc.price | currency}}</td>
		    <td>{{cryptData.details.bcc.value | currency}}</td>
		  </tr>		  	  
		</table>

		<button type="submit" class="btn btn-default" ng-click="newInfo()">Enter New Info</button>
	</div>

	<!-- Sign In / Sign Up Modal -->
	<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="signInLabel">Sign In / Sign Up</h4>
	      </div>
	      <div class="modal-body">

			<div role="tabpanel">

			  <!-- Tabs for signing in or up -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#signIn" aria-controls="signIn" role="tab" data-toggle="tab">Sign In</a></li>
			    <li role="presentation"><a href="#signUp" aria-controls="signUp" role="tab" data-toggle="tab">Sign Up</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			  	<!-- Sign In -->
			    <div role="tabpanel" class="tab-pane active" id="signIn">
			    	<div class="alert alert-danger hide" id="signInWarning" role="alert">{{signInWarning}}</div>
				    <form ng-submit="signIn()">
					  <div class="form-group">
					    <label for="username">User Name</label>
					    <input type="string" class="form-control" id="username" ng-model="username" placeholder="Enter User Name">
					  </div>
					  <div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
					  </div>
					  <button type="submit" class="btn btn-default">Submit</button>
					</form>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="signUp">
			    	<!-- Sign Up -->
			    	<div class="alert alert-danger hide" id="signUpWarning" role="alert">{{signUpWarning}}</div>
				    <form ng-submit="signUp()">
					  <div class="form-group">
					    <label for="username">User Name</label>
					    <input type="string" class="form-control" id="username" ng-model="username" placeholder="Enter User Name">
					  </div>
					  <div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
					  </div>
					  <div class="form-group">
					    <label for="password">Confirm Password</label>
					    <input type="password" class="form-control" id="passwordConfirm" ng-model="confirmPassword" placeholder="Password">
					  </div>					  					  
					  <button type="submit" class="btn btn-default">Submit</button>
					</form>
			    </div>
			  </div>

			</div>

	      </div>
	    </div>
	  </div>
	</div>	
	    


</body>